/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification */

.btn-b {
    background-color: #5E6EAC;
    color: white;
    border: none;
}

.btn-b:hover,
.btn-b:focus {
    background-color: #5E6EAC;
    color: white;
    border: none;
}

.nolines-table {
    border-collapse: collapse;
    border: none;
}

.nolines-table th,
.nolines-table td {
    border: none;
}

    btn-index {
    text-align: right;
    width: auto;
    height: 15px;
}


.card-footer {
    background-color:#fff;
}

.card-block, .card {
    height: auto;
    padding-left: 3rem;
    padding-right: 3rem;
 
}

.card-header {
    height: auto;
    background-color: #fff;
}

.img-fluid {
    width: 70%;
    align-content: center;
}
.titulo {
    color: #5E6EAC;
}

.teste {
    width:100%
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.align-right {
    margin-left: auto;
}

    .img-thumbnail {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.boxes {
    height:40%;
    padding-top:1rem;
}

.container-fluid {
    padding: 0;
}

.col-sm-4 p-0 {
    background-color:rgb(255, 255, 255);
    height:auto;
}

.col-12 {
    height:auto;
}

.six_probpx {
    height: 12rem;
    width: auto;
}

.logo {
    max-width: 680px; /* Set the maximum width for the logo */
    transition: max-width 0.3s ease; /* Add a smooth transition effect */
}
    /* Additional styling for larger screens */
    @media (min-width: 768px) {
        .logo {
            max-width: 150px; /* Increase the maximum width for larger screens */
        }
    }

/* Ajuste a exibição da barra de pesquisa e do "Show X entries" na mesma linha */
.dataTables_length, .dataTables_filter {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre os elementos, ajuste conforme necessário */
}

    /* Ajuste o tamanho do texto "Show X entries" */
    .dataTables_length label {
        font-size: 14px;
    }


/* Alinhe o rótulo "Search:" e a barra de pesquisa na mesma linha */
.dataTables_filter {
    display: flex;
    align-items: center;
}


/* Para o menu do index +  */
@media screen and (max-width: 537px) {
    .left, .main, .right {
        width: 100%; 
    }
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
