@model IEnumerable<Modelo.Cadastros.Departamento>

@await Html.PartialAsync("_StylesPartial")
@await Html.PartialAsync("_ScriptPartial")

<div class="card-block pt-3" style="width: auto">
    <div class="titulo h6 card-header text-center">Departamentos da Instituição</div>
    <div class="card-body">

        <table>
            <tbody class="align-content-center">
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>