@model IEnumerable<Modelo.Cadastros.Departamento>


<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<div class="card-block" style="width: auto">
    <div class="card-header text-white text-center">Departamentos Registrados na Instituição</div>
    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Instituicao.Nome)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>