@model IEnumerable<Modelo.Cadastros.Departamento>

<div class="card-block" style="padding-left:4rem; padding-right:4rem">
    <div class="card-header text-white text-center" style="background-color:#5E6EAC">Departamentos Registrados na Instituição</div>
    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Instituicao.Nome)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>