@model Modelo.Cadastros.Instituicao

@await Html.PartialAsync("_StylesPartial")
@await Html.PartialAsync("_ScriptPartial")
@await Html.PartialAsync("_ValidationScriptsPartial")

<div class="card-body">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="InstituicaoID" class="control-label pt-3"></label>
                <br />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa-solid fa-key p-1" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input asp-for="InstituicaoID" class="form-control" disabled="disabled" />
                </div>
                <label asp-for="Nome" class="control-label pt-3"></label>
                <br />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa-solid fa-user p-1" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input asp-for="Nome" class="form-control" disabled="disabled" />
                </div>
                <label asp-for="Endereco" class="control-label pt-3"></label>
                <br />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa-solid fa-location-dot p-1" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input asp-for="Endereco" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-6">
            @{
                await Html.RenderPartialAsync("~/Areas/Cadastros/Views/Instituicao/_ComDepartamentos.cshtml", Model.Departamentos.ToList());
            }
        </div>
    </div>
</div>
