@model Modelo.Cadastros.Instituicao

@{
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

@await Html.PartialAsync("_StylesPartial")

<div class="row">
    <div class="col-md-3 d-flex align-items-center justify-content-center">
        <center>
            <img src="~/images/auto-aprendizagem.png" class="img-fluid" alt="instituições" class="img-lado" style="width:75%">
        </center>
    </div>
    <div class="col-md-9">
        <div class="card-block">
            <div class="card-header text-center h3 titulo border-0">Apagar uma Instituição</div>

            @{
                await Html.RenderPartialAsync("~/Areas/Cadastros/Views/Instituicao/_PartialDetailsContentCard.cshtml", Model);
            }

            <div class="card-footer bg-transparent text-center border-0">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="InstituicaoID" />
                    <a asp-action="Index" class="btn btn-transparent">Retornar à listagem de instituições</a>
                    <input type="submit" value="Remover Instituição" class="btn btn-b" />
                </form>
            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("_ValidationScriptsPartial")
@await Html.PartialAsync("_ScriptPartial")
