@model Modelo.Cadastros.Instituicao

@{
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

@await Html.PartialAsync("_StylesPartial")
@await Html.PartialAsync("_ScriptPartial")
@await Html.PartialAsync("_ValidationScriptsPartial")

<div class="row">
    <div class="col-md-3 d-flex align-items-center justify-content-center">
        <center>
            <img src="~/images/auto-aprendizagem.png" class="img-fluid" alt="instituições">
        </center>
    </div>
    <div class="col-md-9">
        <div class="card-block">
            <div class="titulo card-header text-center h3 border-0 pb-2">Apagar uma Instituição</div>
            @{
                await Html.RenderPartialAsync("~/Areas/Cadastros/Views/Instituicao/_PartialDetailsContentCard.cshtml", Model);
            }

            <div class="card-footer bg-transparent text-center border-0 pt-3">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="InstituicaoID" />
                    <a asp-action="Index" class="btn btn-transparent">Retornar à listagem de instituições</a>
                    <input type="submit" value="Remover Instituição" class="btn btn-b" />
                </form>
            </div>
        </div>
    </div>
</div>

