@model Modelo.Cadastros.Instituicao


@{
    Layout = "_LayoutIES";
}

@await Html.PartialAsync("_StylesPartial")

<div class="row">
    <div class="col-md-3 d-flex align-items-center justify-content-center">
        <center>
            <img src="~/images/auto-aprendizagem.png" class="img-fluid" alt="instituições" class="img-lado">
        </center>
    </div>
    <div class="col-md-9">
        <div class="card-block">
            <div class="card-header text-center h3 titulo border-0">Exibindo uma instituição existente</div>


           @{await Html.RenderPartialAsync("~/Areas/Cadastros/Views/Instituicao/_PartialDetailsContentCard.cshtml", Model); }
    

            <div class="card-footer text-center border-0">
                <a asp-action="Index" class="btn btn-transparent">Retornar à listagem de instituições</a>
                <a asp-action="Edit" class="btn btn-b" asp-route-id="@Model.InstituicaoID">Alterar</a>
            </div>
        </div>
    </div>
</div>

 @await Html.PartialAsync("_ScriptPartial")
