@model Modelo.Cadastros.Instituicao;


@{
    Layout = "_LayoutIES";
}


@await Html.PartialAsync("_StylesPartial")
@await Html.PartialAsync("_ScriptPartial")

<body>
    @await Html.PartialAsync("_DashboardScript")

<div class="row">
    <div class="col-md-3 d-flex align-items-center justify-content-center">
        <center>
            <div id="Modal"></div>
            <div id="Contagem"></div>
        </center>
    </div>
    <div class="col-md-7 pt-3">
        <div class="card-block shadow pb-4 pt-4">
            <div class="titulo card-header text-center h3 border-0 pb-3">Exibindo uma instituição existente</div>
              @{
                   await Html.RenderPartialAsync("~/Areas/Cadastros/Views/Instituicao/_PartialDetailsContentCard.cshtml", Model);
               }
            <div class="card-footer text-center border-0 pt-3">
                <a asp-action="Index" class="btn btn-transparent">Retornar à listagem de instituições</a>
                <a asp-action="Edit" class="btn btn-b" asp-route-id="@Model.InstituicaoID">Alterar</a>
            </div>
        </div>
    </div><div class="col-md-2 pt-3">
    </div>
</div>

</body>