@model lagrimas.Models.Infra.RegistrarNovoUsuarioViewModel

@{
    ViewData["Title"] = "RegistrarNovoUsuario";
    Layout = "_LayoutIES";
}
@{
    await Html.RenderPartialAsync("_StylesPartial");
}
@await Html.PartialAsync("_ScriptPartial")
@await Html.PartialAsync("_ValidationScriptsPartial")

<div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <center>
            <img src="~/images/discussao-on-line (1).png" class="img-fluid" alt="acessar" width="90%" style="padding-left:4rem;">
        </center>
    </div>
    <div class="col-md-8">
        <div class="card-header text-center h3 titulo pb-3" style="padding-left:4rem; padding-right:4rem ">
            Cadastro de usuário
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="formulario_cad" class="forms">
                    @*<div asp-validation-summary="All" class="text-danger"> </div>*@
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" id="email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" id="Password"  />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group pb-3">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword"  />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-b">
                        Cadastrar-se
                    </button>
                </form>
                <div class="form-group pt-3">
                    <p> Possui uma conta?
                        <a asp-action="Acessar"
                           asp-route-returnurl="@ViewData["ReturnUrl"]">
                            Acessar 
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
