@model Modelo.Discente.Academico
@{
    Layout = "_LayoutIES";
}

@await Html.PartialAsync("_StylesPartial")
@await Html.PartialAsync("_ScriptPartial")
@await Html.PartialAsync("_ValidationScriptsPartial")
@await Html.PartialAsync("_DashboardScript")

<body>
<div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <center>
            <div id="Modal"></div>
            <div id="Contagem"></div>
        </center>
    </div>
    <div class="col-md-6">
        <div class="card-block">
            <div class="card-header text-center h3 titulo border-0 pb-3">Registrando um novo acadêmico</div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="RegistroAcademico" class="control-label"></label>
                        <input asp-for="RegistroAcademico" class="form-control" />
                        <span asp-validation-for="RegistroAcademico" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nascimento" class="control-label"></label>
                        <input asp-for="Nascimento" class="form-control" />
                        <span asp-validation-for="Nascimento" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center h3 pt-3">
                        <a asp-action="Index" class="btn btn-transparent">Retornar à listagem de acadêmicos</a>
                        <input type="submit" value="Registrar Acadêmico" class="btn btn-b"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>