
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

<img src="~/images/index_aluno.jpg" class="img-fluid" alt="imagem garota index" width="900" height="auto">
<br /><br />
<div class="col-1"></div>
<div class="col-10">  @*aqui as caixas embaixo da imagem no index*@
    <div class="six_box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="six_probpx" style="background-color:#5E6EAC; height: 12rem; width:30px;">
                        <a class="text-white" asp-area="cadastros" asp-controller="Instituicao" asp-action="Index">
                        <img src="~/images/mortarboard_1940611.png" style="height:20%">Instituições </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="six_probpx bg-white" style=" height: 12rem; width:20px;">
                        <a class="text-dark" asp-area="cadastros" asp-controller="Departamento" asp-action="Index">
                        <img src="~/images/franchise_9185648.png">Departamentos
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="six_probpx" style="background-color:#5E6EAC; height: 12rem; width:20px;">
                        <a class="text-white" asp-area="discente" asp-controller="Academico" asp-action="Index">
                            <img src="~/images/mortarboard_1940611.png">Academicos
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="six_probpx bg-white" style="height: 12rem; width:20px;">
                        <a class="text-dark" asp-area="Docente" asp-controller="Professor" asp-action="Index">
                        <img src="~/images/mortarboard_1940611.png">Professores
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-1"></div>
    <br><br><br>
